<h1>Add a new item</h1>

<form action="/backdoor/new_item" method="post">
<div><label for="link_url">Link URL</label>
<input id="link_url" type="text" name="link_url" placeholder="Enter a URL..."></div>

<div><label for="link_desc">Link Description</label>
<input id="link_desc" type="text" name="link_description" placeholder="Enter a link description..."></div>

<div><label for="tn_url">Thumbnail URL</label>
<input id="tn_url" type="text" name="thumbnail_url" placeholder="Enter a thumbnail URL..."></div>

<div><button>Create item</button></div>
</form>
